/*Color scheme: Burgundy (#800020), Navy (#000080), Gold (#D4AF37)*/
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Ubuntu');

body {
  padding-top: 54px;
  background-color: #e6ecf0;
  font-family: 'Ubuntu', sans-serif;
}

.flip-clock-label {
  font-family: 'Ubuntu', sans-serif !important;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

nav.navbar {
  background-color: #800020;
}

footer {
  background-color: #800020;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .nav-link {
  color: #fff;
}

.large-top-margin {
  margin-top: 7rem;
}

.title {
  color: #D4AF37;
  font-family: 'Euphoria Script', cursive;
}

.subtitle {
  font-family: 'Euphoria Script', cursive;
  color: #D4AF37;
}

.btn-send {
  background-color: #000080;
  color: #fff;
}

.gift-color {
  color: #800020;
  font-size: 20rem;
}

.mail-icon {
  color: #000080;
}

.nested-img {
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
}

.hudsons-img {
  height: 10rem;
  width: 12rem;
}

.amazon-img {
  height: 8rem;
  width: 15rem;
}

.gift-background:hover .overlay {
  opacity: 1;
}

.wedding-brand:before {
  background: #800020 url("../images/weddingLogo.png") center / 100%;
  background-repeat: no-repeat;
  border: 10px solid white;
  content: '';
  display: block;
  height: 200px;
  margin-left: -90px;
  position: absolute;
  left: 10%;
  bottom: -155px;
  width: 205px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  border-radius: 110px;
}

.card {
  padding: 2rem;
  width: 75%;
}

.card-border {
  border-top: 3px dotted #e5e5e5;
  border-bottom: 3px dotted #e5e5e5;
  border-left: 3px dotted #e5e5e5;
  border-right: 3px dotted #e5e5e5;
  box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
  margin-bottom: 1px;
  border-radius: .5rem;
}

.googleMap {
  width: 100%;
  height: 20rem;
  background-color: grey;
}

.carousel-item {
  height: 40rem;
  min-height: 300px;
}

.header-video {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
} 

.header-video iframe, .header-video object, .header-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}